/* App.css */

body {
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
  }
  
  .app {
    overflow-x: hidden;
    background-color: #111;
    /* text-align: center; */
    /* width: 100%;
    margin: 0 auto; */
  }
  
  h2 {
    margin-left: 20px;
  }

  /* Hide scrollbar for all browsers */
.row__posters::-webkit-scrollbar {
    display: none;
  }
  .row__posters {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  